html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  right: 100%;
  font-family: Roboto !important;
}

.center{
  display: flex;
  justify-content: center;
}

footer.pouco-texto{
  text-align: center;
  position:absolute;
  bottom: 0px;
  width: 100%;
}

footer.muito-texto{
  text-align: center;
}
