html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  right: 100%;
  font-family: Roboto !important;
  background-color:#F5FFFA !important;
}

.center{
  display: flex;
  justify-content: center;
}
